body {
    background-color: #262626;
    margin: 0;
    padding: 0;
}

.center{
    text-align: center;
}
img {
    width: 250px;
    height: 170px;
    padding: 10px;
}

h1{
    text-align: center;
    font-size: 40px;
    font-family: serif;
    color: whitesmoke;
    border-bottom: 2px solid whitesmoke;
    padding-bottom: 10px;
}

h2{
    color: whitesmoke;
    font-family: serif;
    padding-left: 10px;
}

p{
    font-family: 'Fraunces';
    color: yellowgreen;
    padding-left: 10px;    
}